In [1]:
%cd -q ..

In [3]:
import pandas as pd

In [2]:
train_years = list(range(2015, 2023))
test_years = [2023]

In [4]:
train_years

[2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

In [23]:
dfs_match = []
dfs_odds = []
for y in train_years:
    dfs_match.append(pd.read_csv(f'./data/bronze/tennis_atp/atp_matches_{y}.csv'))
    dfs_odds.append(pd.read_excel(f'./data/bronze/tennis_odds/{y}.xlsx'))
df_train_match = pd.concat(dfs_match, ignore_index=True)
df_train_odds = pd.concat(dfs_odds, ignore_index=True)

/home/pg/project/tennis-predictor/.venv/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
/home/pg/project/tennis-predictor/.venv/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [24]:
dfs_match = []
dfs_odds = []
for y in test_years:
    dfs_match.append(pd.read_csv(f'./data/bronze/tennis_atp/atp_matches_{y}.csv'))
    dfs_odds.append(pd.read_excel(f'./data/bronze/tennis_odds/{y}.xlsx'))
df_test_match = pd.concat(dfs_match, ignore_index=True)
df_test_odds = pd.concat(dfs_odds, ignore_index=True)

In [25]:
df_train_match

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2015-339,Brisbane,Hard,28,A,20150104,1,105357,NaN,WC,...,31.0,20.0,5.0,8.0,1.0,5.0,153.0,328.0,220.0,221.0
1,2015-339,Brisbane,Hard,28,A,20150104,2,103813,NaN,NaN,...,50.0,26.0,19.0,13.0,3.0,8.0,73.0,689.0,123.0,440.0
2,2015-339,Brisbane,Hard,28,A,20150104,3,105902,NaN,WC,...,37.0,22.0,5.0,8.0,10.0,15.0,125.0,430.0,21.0,1730.0
3,2015-339,Brisbane,Hard,28,A,20150104,4,104871,NaN,NaN,...,38.0,30.0,8.0,10.0,1.0,3.0,31.0,1195.0,72.0,691.0
4,2015-339,Brisbane,Hard,28,A,20150104,5,105373,NaN,NaN,...,62.0,40.0,19.0,15.0,4.0,8.0,34.0,1094.0,110.0,505.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21605,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,4,209362,NaN,NaN,...,68.0,42.0,12.0,10.0,11.0,13.0,1103.0,9.0,1130.0,8.0
21606,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,5,202065,NaN,NaN,...,56.0,40.0,20.0,15.0,4.0,8.0,808.0,23.0,1390.0,4.0
21607,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,1,138846,NaN,NaN,...,54.0,29.0,8.0,11.0,6.0,10.0,1059.0,10.0,1881.0,1.0
21608,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,2,209409,NaN,NaN,...,39.0,24.0,7.0,10.0,5.0,9.0,NaN,NaN,NaN,NaN
21609,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,4,208414,NaN,NaN,...,34.0,24.0,13.0,10.0,5.0,8.0,NaN,NaN,NaN,NaN

In [26]:
def get_short_name(name: str) -> str:
    # TODO: Improve, we miss somes players this way.
    names = name.split(' ')
    short_name = f"{names[-1]} {names[0][0]}."
    return short_name

df_train_match.winner_name.apply(get_short_name)

0          Millman J.
1         Nieminen J.
2        Duckworth J.
3           Chardy J.
4           Klizan M.
             ...
21605       Thanos A.
21606    Tsitsipas P.
21607         Wong H.
21608         Wong C.
21609       Monnou S.
Name: winner_name, Length: 21610, dtype: object

In [42]:
def to_date(date: int) -> str:
    date_str = str(date)
    date_str = f'{date_str[:4]}-{date_str[4:6]}-{date_str[6:]}'
    return date_str

pd.to_datetime(df_train_match2.tourney_date.apply(to_date))

0       2015-01-04
1       2015-01-04
2       2015-01-04
3       2015-01-04
4       2015-01-04
           ...
21605   2022-03-04
21606   2022-03-04
21607   2022-03-04
21608   2022-03-04
21609   2022-03-04
Name: tourney_date, Length: 21610, dtype: datetime64[ns]

In [43]:
df_train_match2 = df_train_match.copy()
df_train_match2.winner_name = df_train_match2.winner_name.apply(get_short_name)
df_train_match2.loser_name = df_train_match2.loser_name.apply(get_short_name)
df_train_match2.tourney_date = pd.to_datetime(df_train_match2.tourney_date.apply(to_date))

In [45]:
pd.merge(df_train_match2, df_train_odds, left_on=['winner_name', 'loser_name', 'tourney_date'], right_on=['Winner', 'Loser', 'Date'])

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,EXW,EXL,LBW,LBL,PSW,PSL,MaxW,MaxL,AvgW,AvgL
0,2015-891,Chennai,Hard,28,A,2015-01-05,1,106432,NaN,NaN,...,1.72,2.05,1.80,1.91,1.75,2.18,1.80,2.25,1.72,2.07
1,2015-451,Doha,Hard,32,A,2015-01-05,4,103333,7.0,NaN,...,1.48,2.60,1.50,2.50,1.53,2.65,1.53,2.75,1.49,2.54
2,2015-451,Doha,Hard,32,A,2015-01-05,6,104269,NaN,NaN,...,1.40,2.90,1.44,2.62,1.42,3.09,1.47,3.09,1.41,2.81
3,2015-451,Doha,Hard,32,A,2015-01-05,7,104460,NaN,NaN,...,1.52,2.45,1.57,2.25,1.57,2.55,1.60,2.62,1.54,2.40
4,2015-451,Doha,Hard,32,A,2015-01-05,9,104755,6.0,NaN,...,1.22,4.00,1.20,4.33,1.24,4.44,1.26,4.84,1.21,4.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2324,2022-0352,Paris Masters,Hard,64,M,2022-10-31,248,105932,NaN,NaN,...,NaN,NaN,NaN,NaN,3.98,1.28,4.33,1.30,3.92,1.25
2325,2022-0352,Paris Masters,Hard,64,M,2022-10-31,247,104755,NaN,WC,...,NaN,NaN,NaN,NaN,1.54,2.63,1.58,2.67,1.51,2.54
2326,2022-0352,Paris Masters,Hard,64,M,2022-10-31,242,111815,12.0,NaN,...,NaN,NaN,NaN,NaN,1.62,2.44,1.63,2.71,1.57,2.40
2327,2022-0605,Tour Finals,Hard,8,F,2022-11-14,289,104925,7.0,NaN,...,NaN,NaN,NaN,NaN,1.35,3.54,1.36,3.74,1.33,3.30
2328,2022-0605,Tour Finals,Hard,8,F,2022-11-14,288,126094,6.0,NaN,...,NaN,NaN,NaN,NaN,3.55,1.35,3.55,1.35,3.34,1.32

In [44]:
df_train_odds

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,EXW,EXL,LBW,LBL,PSW,PSL,MaxW,MaxL,AvgW,AvgL
0,1,Brisbane,Brisbane International,2015-01-05,ATP250,Outdoor,Hard,1st Round,3.0,Duckworth J.,...,4.30,1.20,4.33,1.20,4.67,1.23,4.73,1.23,4.31,1.20
1,1,Brisbane,Brisbane International,2015-01-05,ATP250,Outdoor,Hard,1st Round,3.0,Kokkinakis T.,...,2.60,1.48,2.62,1.44,2.67,1.53,2.80,1.53,2.62,1.47
2,1,Brisbane,Brisbane International,2015-01-05,ATP250,Outdoor,Hard,1st Round,3.0,Chardy J.,...,1.33,3.20,1.33,3.25,1.34,3.50,1.36,3.50,1.32,3.30
3,1,Brisbane,Brisbane International,2015-01-05,ATP250,Outdoor,Hard,1st Round,3.0,Tomic B.,...,1.60,2.30,1.62,2.20,1.65,2.37,1.67,2.37,1.61,2.25
4,1,Brisbane,Brisbane International,2015-01-06,ATP250,Outdoor,Hard,1st Round,3.0,Kukushkin M.,...,1.50,2.50,1.44,2.62,1.48,2.84,1.58,2.84,1.50,2.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19519,68,Turin,Masters Cup,2022-11-18,Masters Cup,Indoor,Hard,Round Robin,NaN,Djokovic N.,...,NaN,NaN,NaN,NaN,1.37,3.36,1.39,3.55,1.34,3.25
19520,68,Turin,Masters Cup,2022-11-18,Masters Cup,Indoor,Hard,Round Robin,NaN,Rublev A.,...,NaN,NaN,NaN,NaN,2.63,1.55,2.63,1.63,2.39,1.57
19521,68,Turin,Masters Cup,2022-11-19,Masters Cup,Indoor,Hard,Semifinals,NaN,Djokovic N.,...,NaN,NaN,NaN,NaN,1.24,4.53,1.28,4.75,1.23,4.14
19522,68,Turin,Masters Cup,2022-11-19,Masters Cup,Indoor,Hard,Semifinals,NaN,Ruud C.,...,NaN,NaN,NaN,NaN,2.35,1.67,2.35,1.75,2.18,1.69
19523,68,Turin,Masters Cup,2022-11-20,Masters Cup,Indoor,Hard,The Final,NaN,Djokovic N.,...,NaN,NaN,NaN,NaN,1.22,4.90,1.29,4.90,1.23,4.21

0       2015-01-04
1       2015-01-04
2       2015-01-04
3       2015-01-04
4       2015-01-04
           ...
21605   2022-03-04
21606   2022-03-04
21607   2022-03-04
21608   2022-03-04
21609   2022-03-04
Name: tourney_date, Length: 21610, dtype: datetime64[ns]

In [33]:
df_train_odds['Date']

0       2015-01-05
1       2015-01-05
2       2015-01-05
3       2015-01-05
4       2015-01-06
           ...
19519   2022-11-18
19520   2022-11-18
19521   2022-11-19
19522   2022-11-19
19523   2022-11-20
Name: Date, Length: 19524, dtype: datetime64[ns]

In [15]:
df_train_odds.columns

Index(['ATP', 'Location', 'Tournament', 'Date', 'Series', 'Court', 'Surface',
       'Round', 'Best of', 'Winner', 'Loser', 'WRank', 'LRank', 'WPts', 'LPts',
       'W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5', 'Wsets',
       'Lsets', 'Comment', 'B365W', 'B365L', 'EXW', 'EXL', 'LBW', 'LBL', 'PSW',
       'PSL', 'MaxW', 'MaxL', 'AvgW', 'AvgL'],
      dtype='object')